<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{database_name_here}}');

/** MySQL database username */
define('DB_USER', '{{username_here}}');

/** MySQL database password */
define('DB_PASSWORD', '{{password_here}}');

/** MySQL hostname */
define('DB_HOST', '{{dbhost_here}}');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */

define('AUTH_KEY',         '~!JvJYxl6X`!JMR@U9Iky*xSJ-VL*6{p,atd]K-<-Vn+R#HsyafZx11>wHYn~Xa(');
define('SECURE_AUTH_KEY',  'U1?I9f~#r/1,||> .Fn+/k7X[WgJ.ky)Kil|g&c:))>w`4L*|9<ff0<y4+vcZGGs');
define('LOGGED_IN_KEY',    'N3CXN+X&mC*47u+fcV*+e#FIrMVL[>sBzn>KH-]uo;XW[]/VxG;vF9N5=14-smIv');
define('NONCE_KEY',        'CPgI`;sx)|Ns}eD[Zs;0&]=;Tsf:]A-xlh;f_i$K:-5)^PcDEHX&Fq3h3+M^SK;i');
define('AUTH_SALT',        '&f1^v6EdLz)g$T}Fv1m;$ig3wi/y3+cTD=7KM EMa%R%j-m%0o9j)hc]znLvR.E@');
define('SECURE_AUTH_SALT', 'Fn/@z$JzdP=9irpdR(cHe%Cb?Qe.]KqGj!CqkaB(lbwVD4js2?o{p?GEu?-s/$kn');
define('LOGGED_IN_SALT',   'bf`Q)COo=M{@y{F+QHZEqHgZ[HZJB-oWBXi&FLNhD(i3p/z<[p5K-e&@+h?&ZGl0');
define('NONCE_SALT',       'Yy2uE,vX5,K7w-dUoDF+cIZ+?2`XASE-}?TQ8(~qhO$VvRQuw1uKW8QvNBB[My>|');


/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
